<!DOCTYPE html>
<html>
<head lang="pt">
    <meta charset="UTF-8">
    <title>Fase 4 API e Silex - APIs Públicas</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{% block local %}Produtos Cadastrados no Sistema{% endblock %}</h1>
            {% block content %}
            {% endblock %}
            <footer>
                <p>Fase 4 API e Silex - APIs Públicas | &copy Todos os direitos reservados</p>
            </footer>
        </div><!-- /col-md-12 -->
    </div><!-- /row -->
</div><!-- /container-fluid -->
</body>
</html>